<div id="submenu">
  <%= render 'submenu_pages', pages: @page.root.descendants.arrange %>
</div>

<ul id="menu">
  <% Page.roots.each do |page| %>
    <li><%= link_to page.name, page, class: ("active" if @page.root == page) %></li>
  <% end %>
</ul>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @page.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @page.content %>
</p>

<p>
  <strong>Ancestry:</strong>
  <%= @page.ancestry %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
