<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :name, class: "right inline" %><br> 
    </div>
    <div class="small-9 columns">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :price, class: "right inline", title: "Price in RMB", data: {tooltip: true} %><br>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :price %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-9 small-offset-3 columns">
      <%= f.submit %>
    </div>
  </div>
<% end %>
