<%= form_for @topic do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>
      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, size: 50 %>
  </div>
  <div class="field">
    <%= f.check_box :sticky %>
    <%= f.label :sticky %>
  </div>

  <% if @topic.new_record? %>
    <%= f.fields_for :posts, Post.new do |post_form| %>
      <div class="field">
        <%= post_form.text_area :content %>
      </div>
      <div class="field">
        <%= post_form.check_box :inline_images %>
        <%= post_form.label :inline_images %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
