<h1>Forum</h1>

<div id="topics">
<% @topics.each do |topic| %>
  <h2><%= link_to topic.name, topic %></h2>
  <%= "Sticky |" if topic.sticky? %>
  <%= pluralize topic.posts.size, "post" %> |
  <%= link_to "Edit Topic", edit_topic_path(topic) %>
<% end %>
</div>

<p><%= link_to 'New Topic', new_topic_path %></p>
