{{view Ember.TextField valueBinding="newBookName" action="addBook"}}
<button {{action booking}} {{bindAttr disabled="allBooked"}}>Booking</button>

<ul>
  {{#each controller}}
  <li>
    {{ name }}
    {{#if booked}}
      <span {{bindAttr class="booked highlight"}}>Already Booked</span>
    {{/if}} 
  </li>
  {{/each}}
</ul>
